@charset 'utf-8';
* {padding: 0; margin: 0;}
li {list-style: none;}
a {text-decoration: none;}

body {
  height: 100vh; background: url(../images/bg.jpg) no-repeat center/cover fixed;
}
.container {
  padding: 50px 0;
}
.heroes {
  display: flex; flex-wrap: wrap; justify-content: center;
  max-width: 660px; margin: 0 auto; padding: 40px 20px;
}
.heroes .hero {
  width: 80px; height: 84px; margin: 4px; border: 3px solid #fff; box-sizing: border-box; overflow: hidden; background-color: #555; transform: skewX(-14deg);
  transition: transform .1s, background-color .6s;
}

.heroes .hero .image {
  transform: translateX(-16px) skew(14deg);
  background-position: center;
  background-size: 90px;
  background-repeat: no-repeat;
}

.heroes .hero:hover {
  background-color: #ff9c00;
  transform: skewX(-14deg) scale(1.3);
  z-index: 1;
}

.logo {
  max-width: 300px; margin: 0 auto; padding: 0 20px;
}
.logo img {
  width: 100%;
}

.heroes .hero:nth-child(1) .image {
  background-image: url(../images/hero1.png);
}
.heroes .hero:nth-child(2) .image {
  background-image: url(../images/hero2.png);
}
.heroes .hero:nth-child(3) .image {
  background-image: url(../images/hero3.png);
}
.heroes .hero:nth-child(4) .image {
  background-image: url(../images/hero1.png);
}
.heroes .hero:nth-child(1) .image {
  background-image: url(../images/hero1.png);
}
.heroes .hero:nth-child(1) .image {
  background-image: url(../images/hero1.png);
}
.heroes .hero:nth-child(1) .image {
  background-image: url(../images/hero1.png);
}